# The requirement below makes sure we have torch installed, even if that will
# pull the latest GPU torch in case the user's environment may be misconfigured
# such that a pre-installed torch is not found.
torch

ase
mpmath
numpy
optuna
scipy
pandas
tensorboard
openpmd-api
scikit-spatial
tqdm
mendeleev
sympy
