# The requirement below makes sure we have torch installed, even if that will
# pull the latest GPU torch in case the user's environment may be misconfigured
# such that a pre-installed torch is not found.
torch

# We need a recent numpy to build external_modules/total_energy_module using
# numpy's f2py. See
# https://github.com/mala-project/mala/issues/559#issuecomment-2864133103
# for details.
numpy >= 2

ase
mpmath
optuna
scipy
pandas
tensorboard
openpmd-api
scikit-spatial
tqdm
mendeleev >= 1.1.0
sympy
meson
ninja
